<nav class="app-nav">
  <a routerLink="/" class="brand">Car Rental</a>
  <div class="actions">
    <ng-container *ngIf="isAuthenticated(); else notAuthenticated">
      <span class="welcome">Welcome, {{ currentUser()?.name }}</span>
      <a routerLink="/profile" class="button">Profile</a>
      <button type="button" class="button" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #notAuthenticated>
      <a routerLink="/login" class="button">Login</a>
    </ng-template>
  </div>
</nav>