.location-selector {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

select {
  height: 2.4rem;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 0 0.5rem;
}